In [70]:
import json

import pandas as pd

df = pd.read_csv("proj1_ex01.csv")
df

,First column,two,three,SOME;NAME,five,What is this even?,seven,eight
0,0.348554,-0.14509562920877161,-0.012336991474672475,9,red,good,quarrelsome,2016-05-26 09:33:42
1,-1.493853,0.12436946488785079,1.4611100361038865,4,red,bad,doctor,2016-12-03 18:55:52
2,-0.325891,NaN,-0.42191202598625566,2,red,average,large,2016-05-15 11:49:26
3,-0.506596,0.3991147675939107,-0.26502607502330217,5,green,average,muddled,2015-01-30 22:33:29
4,NaN,-0.6913144223047157,-0.26502607502330217,2,blue,good,coordinated,2015-11-20 00:15:35
5,0.527112,2.584347847701393,-0.26502607502330217XYZ,2,blue,good,separate,2017-11-17 09:58:54
6,-1.555290,unknown,-0.7732649697439955,5,green,bad,bright,2017-05-01 10:32:41

In [71]:
column_names = df.columns.tolist()
row_number = len(df.index)
final_array = [{"name": i, "missing": 0, "type": "other"} for i in column_names]
print(final_array)

[{'name': 'First column', 'missing': 0, 'type': 'other'}, {'name': 'two', 'missing': 0, 'type': 'other'}, {'name': 'three', 'missing': 0, 'type': 'other'}, {'name': 'SOME;NAME', 'missing': 0, 'type': 'other'}, {'name': 'five', 'missing': 0, 'type': 'other'}, {'name': 'What is this even?', 'missing': 0, 'type': 'other'}, {'name': 'seven', 'missing': 0, 'type': 'other'}, {'name': 'eight', 'missing': 0, 'type': 'other'}]

In [72]:
import numpy as np
for idx, el in enumerate(df.dtypes.tolist()):
    typetoreplace = "other"
    if el == np.float64:
        typetoreplace = "float"
    elif el == np.int64:
        typetoreplace = "int"
    final_array[idx]["type"] = typetoreplace

final_array

[{'name': 'First column', 'missing': 0, 'type': 'float'},
 {'name': 'two', 'missing': 0, 'type': 'other'},
 {'name': 'three', 'missing': 0, 'type': 'other'},
 {'name': 'SOME;NAME', 'missing': 0, 'type': 'int'},
 {'name': 'five', 'missing': 0, 'type': 'other'},
 {'name': 'What is this even?', 'missing': 0, 'type': 'other'},
 {'name': 'seven', 'missing': 0, 'type': 'other'},
 {'name': 'eight', 'missing': 0, 'type': 'other'}]

In [73]:
empty_val_arr = df.isnull().to_numpy().astype(np.int8).sum(axis=0)
for idx, val in enumerate(empty_val_arr):
    final_array[idx]["missing"] = val/row_number
]
with open("proj1_ex01_fields.json", "w") as json_file:
    json.dump(final_array, json_file, indent=4)

SyntaxError: unmatched ']' (93523143.py, line 4)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   First column        6 non-null      float64
 1   two                 6 non-null      object
 2   three               7 non-null      object
 3   SOME;NAME           7 non-null      int64
 4   five                7 non-null      object
 5   What is this even?  7 non-null      object
 6   seven               7 non-null      object
 7   eight               7 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 580.0+ bytes

In [75]:
final_object = {}
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        return super(NpEncoder, self).default(obj)
    
from collections import Counter
for idx, i in enumerate(column_names):
    if [j for j in final_array if j['name']==i][0]['type'] == 'float' or [j for j in final_array if j['name']==i][0]['type'] == 'int':
        final_object[i] = {
            "count": row_number - empty_val_arr[idx],
            "mean": df[i].sum() / (row_number - empty_val_arr[idx]),
            "std": df[i].std() / row_number,
            "min": df[i].min(),
            "25%": df[i].quantile(0.25),
            "50%": df[i].quantile(),
            "75%": df[i].quantile(0.75),
            "max": df[i].max()
        }
    else:
        final_object[i] = {
            "count": df[i].count(),
            "unique": df[i].nunique(),
            "top": df[i].value_counts().index[0],
            "freq": df[i].value_counts().max()
        }
print(final_object)
with open("proj1_ex02_stats.json", "w") as json_file:
    json.dump(final_object, json_file, indent=4, cls=NpEncoder)

{'First column': {'count': 6, 'mean': -0.5009940002009552, 'std': 0.12627693147707947, 'min': -1.55529041326908, '25%': -1.247038692513933, '50%': -0.4162433767179556, '75%': 0.1799426841401469, 'max': 0.5271122588523375}, 'two': {'count': 6, 'unique': 6, 'top': '-0.14509562920877161', 'freq': 1}, 'three': {'count': 7, 'unique': 7, 'top': '-0.012336991474672475', 'freq': 1}, 'SOME;NAME': {'count': 7, 'mean': 4.142857142857143, 'std': 0.3635480058744867, 'min': 2, '25%': 2.0, '50%': 4.0, '75%': 5.0, 'max': 9}, 'five': {'count': 7, 'unique': 3, 'top': 'red', 'freq': 3}, 'What is this even?': {'count': 7, 'unique': 3, 'top': 'good', 'freq': 3}, 'seven': {'count': 7, 'unique': 7, 'top': 'quarrelsome', 'freq': 1}, 'eight': {'count': 7, 'unique': 7, 'top': '2016-05-26 09:33:42', 'freq': 1}}

In [76]:
import re
df.rename(columns=lambda x: re.sub(r'[^a-zA-Z0-9_ ]', '', x).lower().replace(' ', '_'), inplace=True)
print(df.info())
df.to_csv('proj1_ex03_columns.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   first_column       6 non-null      float64
 1   two                6 non-null      object
 2   three              7 non-null      object
 3   somename           7 non-null      int64
 4   five               7 non-null      object
 5   what_is_this_even  7 non-null      object
 6   seven              7 non-null      object
 7   eight              7 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 580.0+ bytes
None

In [77]:
df.to_excel('proj1_ex04_excel.xlsx', sheet_name='Arkusz1', index=False)
df.to_json('proj1_ex04_json.json', orient='records', indent=4)
df.to_pickle('proj1_ex04_pickle.pkl')

In [78]:
df_pickle = pd.read_pickle('proj1_ex05.pkl')

df_pickle.iloc[:, 1:3][df_pickle.index.str.startswith('v')].mask(df_pickle.isnull(), "").to_markdown('proj1_ex05_table.md')

In [79]:
with open('proj1_ex06.json', 'r') as json_file:
    json_data = json.load(json_file)

df_json = pd.json_normalize(json_data, sep='.')
df_json.to_pickle('proj1_ex06_pickle.pkl')